
* {
    box-sizing: border-box;
}

html, body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
    color: #333;
}
a, a:active, a:visited {
    text-decoration: none;
    color: #3072C4;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.content-container {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
} 
.content {
    display: flex;
    position: relative;
    flex-direction: column;
    /* margin: 0 auto 30px auto;
    justify-content: center; */
    flex: 1 0 auto;
    max-width: 1280px;
    background-color: #fff;
    border-top: 2px solid #1E79BE;
    box-shadow: 1px 1px 2px 1px rgba(218,218,218,1);
    

}
.link-home {
    position: absolute;
    top: -35px;
    left: 0;
}
.content-header {
    padding-left:50px;
    box-shadow: 0px 1px 2px 0px #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 35px;
    margin-top: 30px;
}
.content-header__title {
    font-size: 42px;
    font-weight: 300;
    line-height:50px;
    color: #333;
    margin-bottom: 50px;
}
.content-header__nav {

}
.content-header__nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-list-item {
    padding-bottom: 10px;
    margin-bottom: -1px;
    margin-right: 34px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400px;
    
}
.content-header__nav__list li:last-child {
    border-bottom: 4px solid #1E79BE;
}
.content-info {
    display: flex;
    flex-direction: column;
    padding-left:50px;
    padding-right:50px;
    flex: 1 0 auto;
}
.content-info__title {
    font-weight: 300px;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 25px;
    
}
.content-info__items-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px;
    row-gap: 30px;
    padding-bottom: 80px;
    /* border-bottom:  1px solid rgba(0, 0, 0, 0.2); */
    /* margin-bottom: 30px; */
    
}
.content-info_item {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
}
.info-item-one {
    grid-row: 1/2;
    grid-column: 1/2;
}
.info-item-two {
    grid-row: 1/2;
    grid-column: 2/3;
}
.info-item-three {
    grid-row: 2/3;
    grid-column: 1/2;
}
.info-item-four {
    grid-row: 2/3;
    grid-column: 2/3;
}
.info_item_title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    grid-row: 1/2;
    grid-column: 1/2;
    
}
.info_item_content {
    color: #A1A1A1;
    grid-row: 2/3;
    grid-column: 1/2;
}
.info_item_footer {    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 105px 1fr;
    grid-row: 3/4;
    grid-column: 1/2;
    column-gap: 10px;
    align-items: center; 
}

.info_item_footer-input {
    width: 105px;
    padding-left: 10px;
    padding: 6px 0px 6px 10px;   
}

.info_item_footer-link a {
    text-decoration: none;
}
.info_item_footer-link a:hover {
    text-decoration: underline;
}
.content-footer {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    padding-top: 50px;
    border-top:  1px solid rgba(0, 0, 0, 0.2);

    
}
.btn {
    width: 134px;
    height: 47px;
    padding: 10px 15px 30px 15px;
    margin-right: 15px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.btn-blue {
    background-color: #1E79BE;
    color: white;
    
}
.btn-white {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 200px;
}


.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #ffffff;
    margin-bottom: 57px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        max-width: 1280px;
        margin: 0 auto;
    }

    .header__logo {
        margin-top: 1px;
    }

.menu {
    display: flex;
}

    .menu__option:hover {
        background-color: #E6E6E6;
    }

    .menu__option:active {
        background-color: #CECECE;
    }

    .menu__option:last-child {
        position: relative;
    }

    .menu__option:last-child::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
        width: 1px;
        height: 30px;
        background: rgba(0, 0, 0, 0.1);
    }

    a.menu__link {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 50px;
        padding: 0 16px;
        text-decoration: none;
        color: #333333;
    }


.footer {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    padding-bottom: 20px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    width: 1280px;
}

    .footer__info-block {
        position: relative;
        margin-left: 30px;
    }

    .footer__info-block::before {
        content: '';
        position: absolute;
        left: -30px;
        top: 1px;
        display: block;
        background-image: url(img/SKB-logo.png);
        width: 22px;
        height: 22px;
    }

    .footer__other-info-block {
        display: flex;
        justify-content: space-between;
        width: 500px;
    }

    .footer__text {
        margin-bottom: 10px;
    }

    .footer__text:last-child {
        margin: 0;
    }

    .footer__about .link:not(:last-child) {
        margin-right: 7px;
    }

    .footer__link {
        display: block;
    }

    .footer__contacts {
        text-align: right;
    }

    .footer__contacts .text:first-child {
        margin-bottom: 12px;
    }

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

    .text_hidden {
        color: #A1A1A1;
    }

    .text_highlight {
        font-size: 16px;
        font-weight: 900;
    }
